<head>
  <title>UIKit Complete for Meteor</title>
</head>

<body>
    
</body>

<template name="layout">
  <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
    <header>
      {{> nav }}
    </header>
    {{> yield}}
  </div>
</template>

<template name='nav'>
  <nav class="uk-navbar uk-margin-large-bottom">
                <a class="uk-navbar-brand uk-hidden-small" href="{{pathFor 'frontpage'}}">Brand</a>
                <ul class="uk-navbar-nav uk-hidden-small">                    
                    {{> navItems}}
                </ul>
                <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>
                <div class="uk-navbar-brand uk-navbar-center uk-visible-small">Brand</div>
    </nav>
</template>


<template name='navItems'>
        <li class="{{ activeIfTemplateIs 'frontpage' }}">
            <a href="{{pathFor 'frontpage'}}">Frontpage</a>
        </li>
        <li class="{{ activeIfTemplateIs 'portfolio' }}">
            <a href="{{pathFor 'portfolio'}}">Portfolio</a>
        </li>
        <li class="{{ activeIfTemplateIs 'blog' }}">
            <a href="{{pathFor 'blog'}}">Blog</a>
        </li>
        <li class="{{ activeIfTemplateIs 'documentation' }}">
            <a href="{{pathFor 'documentation'}}">Documentation</a>
        </li>
        <li class="{{ activeIfTemplateIs 'contact' }}">
            <a href="{{pathFor 'contact'}}">Contact</a>
        </li>
        <li class="{{ activeIfTemplateIs 'login' }}">
            <a href="{{pathFor 'login'}}">Login</a>
        </li>
</template>
